*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat',sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6B564B;
}
.kalkulator{
    position: relative;
    display: grid;

}
.kalkulator .value{
    grid-column: span 4;
    height: 80px;
    width: 240px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 25px;
    
}
.kalkulator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: rgb(241, 182, 134);
    background: rgb(75, 57, 51);
    place-items: center;
    border: 1px solid rgba(0, 0, 0,.1);
    box-shadow: 4px 4px 5px #493c35;
    
}
.kalkulator span:active{
    background: #3f322e;
    color: #111;
}
.kalkulator span.clear{
    grid-column: span 2;
    width: 120px;
    background: #584122;
}
.kalkulator span.plus{
    grid-row: span 2;
    height: 120px;
}
.kalkulator span.equal{
    background: #aa8f6c
}

.kalkulator span:hover {
    background-color: rgb(34, 27, 20);
    transition-duration: 1000ms;
}